body{
  margin: 0;
  background-color: #5f5f5f;
}

.image{
  height: 40%;
}

.profile-image > img{
  height: 100%;
  width: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.details{
  height: 60%;
}

.business-card-container {
  background-color: slategrey;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 1%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.business-card{
  justify-content: space-between;
  height: 100%;
  width: 350px;
  margin: auto;
  background-color: gainsboro;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.business-card .details .basic-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.business-card, .basic-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-details > h2{
  margin-bottom: -0.7rem;
  margin-top: -0.02rem;
}

.basic-details > p{
  margin-bottom: -0.1rem;
}

.basic-details > a{
  margin-bottom: 0.7em;
  margin-top: 0.8em;
}

.about, .interests {
  margin: 0 20px; 
}

.about > h3, .interests > h3 {
  margin-bottom: -0.2em;
}

.footer-div {
  background-color: #333;
  width: 350px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.fab.fa-twitter {
  color: #1DA1F2;
}

.fab.fa-instagram {
  color: #E1306C;
}


.fab.fa-github {
  color: #000;
}

.fab.fa-twitter,
.fab.fa-instagram,
.fab.fa-github {
  filter: brightness(1.5);
  font-size: 2em;
}